@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Tajawal';
  src: url('./assets/Tajawal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}